@import "config";
.sec-about-us{
    min-height: 100vh;
    width: 100vw !important;
    max-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;

    div[role="box"]{
        margin: 2rem 0;
    }
    .banner,.achivements{
        background-color: $color-ultra-light-green;
        border: dotted 1px $color-light-green;
        width: 100%;
        min-height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;

            h1{
                letter-spacing: .03rem;
                font-size: 2.5rem;
                color: #282627;
            }
    }
    .our-mission{
        overflow-y: visible;
        height: 40%;
        min-height: 20rem;
        display: flex;
        justify-content: space-between;
        width: 80%;
        gap: 5rem;
        img{
            height: 100%;
            min-width: 20rem;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
        .content{
            width: 80%;
            min-height: 100%;
            .detail-boxes{
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 1rem 0;

                .detail{
                    padding: .6rem;
                    display: inline;
                    border: solid 2px $color-light-green;
                    border-radius: 6px;
                    font-weight: 550;
                    color: $color-dark-green;
                    transition: all .4s ease;
                    &:hover{
                        color: $color-bg;
                        background-color: $color-light-green;
                    }
                }
                .filled{
                    color: $color-bg;
                    background: $color-light-green;
                }
            }
            .txt{
                width: 80%;
                padding: .5rem 0;
                
                p,h1{
                    padding: .5rem 0;
                }
            }
        }
    }
    .achivements{
        .achivement-con{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 3rem;
            flex-wrap: wrap;
            margin: 4rem 0;
            .achivement{
                background: $color-dark-green;
                min-width: 20rem;
                aspect-ratio: 1.2/1;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h1{
                    color: $color-bg;
                    letter-spacing: .2rem;
                    font-family:Arial, Helvetica, sans-serif;
                }
                p{
                    font-size: .8rem;
                    color: $color-ultra-light-green
                }
            }
        }
    }
    .meet-our-team-con{
        width: 100%;
        display: flex;
        justify-content: center;
        .meet-our-team{
            width: 80%;

            .chefs-con{
                margin: 2rem 0;
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 2rem;
                flex-wrap: wrap;
                .chefs{
                    width: 30%;
                    max-width: 20rem !important;
                    img{
                        margin: 1rem 0;
                        aspect-ratio: 4/5;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .cta-last-banner{
        color: white;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 80%;
        height: 18rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("https://i.pinimg.com/564x/9a/73/8c/9a738cd551e8784a04b06a4cdf8c7cdf.jpg");

        h1{
            width: 95%;
            font-size: 2rem;
            font-weight: 660;
            text-shadow: -4px 0px 5px #1b1b1b;
        }

        a{
            padding: 0.75em 2.2em;
            border-radius: 0.25em;
            margin: .3rem;
            font-size: 1.1em;
            font-weight: 700;
            text-decoration: none;
            background: $color-light-green;
            color: white !important;
            &:hover{
                background: $color-dark-green;
            }
        }
    }
}
@media (max-width:$breakpoint-tablet){
    .our-mission{
        width: 98% !important;
        .content{
            width: 90%;
        }
    }
    .meet-our-team{
        width: 90% !important;

        .chefs-con{
            width: 100% !important;
            .chefs{
                width: 90% !important;
            }
        }
    }
}
@media (max-width: $breakpoint-small-tablet) {
    .our-mission{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around !important;
        padding: 1rem;
    }
    .content{
        width: 100% !important;
        padding: 1rem;
        .txt{
            width: 100% !important;
        }
    }

}