@import "config";
.grey-line{
    border-top: 1px solid $color-light-grey !important;
}
.cart_sec{
    max-width: 100vw !important;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    .empty-cart{
        width: 100%;
        height: 70%;
        .cart-illustration{
            width: 100%;
            display: flex;
            justify-content: center;
            img{
                min-height: 30vh;
                width: 90%;
                max-width: 20rem !important;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
        h1{
            font-weight: 400;
            text-align: center;
            margin: 1.5rem 0;
        }
        .cart-cta-btn{
               display: flex;
               justify-content: center;
               flex-wrap: wrap;
               button,a{
                   border: none;
                   padding: 0.75em 2.2em;
                   border-radius: 0.25em;
                   margin: .3rem;
                   font-size: 1.1em;
                   font-weight: 700;
           
                   &:first-child{
                    text-decoration: none;
                        color: $color-dark;
                       background: none;
                       border: 2px solid $color-dark;
                       &:hover{
                           background-color: $color-dark;
                           color: $color-bg;
                       }
                       &:active{
                           outline: 0.125em solid $color-dark;
                           outline-offset: 0.25em;
                       }
                   }
           }
       }
    }

    .cart-header-con,.products-con{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .cart-header{
            width: 80%;
            .heading{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 3.5rem;

                h1{
                    font-weight: 400;
                    letter-spacing: 0.03rem;
                }
                a{
                    color: $color-dark-green;
                }
            }
            .cart-table-header{
                width: 100%;
                display: flex;
                justify-content: center !important;
                margin: 0 0 .5rem 0;
                .cart-table-column{
                    color: $color-light-grey;
                    width: 40% !important;
                    display: flex;
                    justify-content: center;
                }
                :first-child{
                    justify-content: left !important;
                }
            }
        }
        .cart-product{
            margin: 1rem 0;
            display: flex;
            justify-content: space-between;
            width: 80%;
            .all-product-data{
                width: 65%;
                display: flex;
                justify-content: left;
                
                .product-data{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 90%;
                    gap: .3rem;

                }
                .product_img{
                    width: 50%;
                    min-width: 9rem;
                    img{
                        width: 80%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }
                }
            }
            .product-quantity{
                display: flex;
                width: 10rem;
                
                .product-remove-con{
                    padding: 1.5rem 0;

                .product-remove-btn{
                    background: none;
                    border: none;
                    height: 4rem;
                    min-width: 1.4rem;
                    overflow-y: hidden;
                    img{
                        margin: 1rem 0;
                        width: 1.4rem;
                        aspect-ratio: 1.1;
                    }
                }
            }

                .quantity-con{
                    max-width: 6.5rem !important;
                    padding: 1rem 0;
                    quantity-input{
                        display: flex;
                        height: 3rem;
                        width: 35%;
                        min-width: 6rem;
                        border: 1.5px solid $color-dark;
                        
                        margin: .5rem 0;
                        button,input{
                            aspect-ratio: 1/1;
                            border: none;
                            background: none;
                            font-size: 1rem;
                            text-align: center;
                        }
                        button{
                            transition: .2s;
                            font-size: 1.3rem;
                            &:active{
                                background: $color-sky-blue;
                            }
                        }
                        input{
                            &::-webkit-inner-spin-button,
                            &::-webkit-outer-spin-button {
                                -webkit-appearance: none;
                                
                            }
                            &:focus-visible{
                                outline: none;
                                box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                            }
                        }
                    }
                }
            }
            .product-price{
                width: 18%;
                padding-top: 1.4rem;
                display: flex;
                height: 65%;
                align-items: center;
            }
        }
        .cart-footer{
            width: 80%;
            margin: 1rem 0;

            .cart-ftr-data{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 1rem 0;
                .price{
                    justify-content: center;
                    h1{
                        margin: 1rem 0;
                    }
                }
            }
            .check-out-btn{
                display: flex;
                justify-content: right;

                button,a{
                    padding: 0.75em 2.2em;
                    border-radius: 0.25em;
                    margin: .3rem;
                    font-size: 1.1em;
                    font-weight: 700;
                    background-color: $color-dark;
                    color: $color-bg;
                    border: 2px solid $color-dark;
                        &:hover{
                            background: none;
                            color: $color-dark;
                        }
                        &:active{
                        outline: 0.125em solid $color-dark;
                        outline-offset: 0.25em;
                        }
                }
            }
        }
    }
}
@media (max-width:$breakpoint-small-tablet) {
    .quantity-column{
        display: none;
    }
    .cart-header,.cart-product,.cart-footer{
        width: 90% !important;
    }
    .all-product-data{
        width: 90% !important;
    }
    .all-product-data{
        .product-data{
            display: flex;
            flex-direction: column;
            align-items: normal !important;
        }
    }
    .product-price{
        width: 20% !important;
    }
}
@media (max-width:$breakpoint-small-mob) {
    .product_img{
        img{
            padding: 1rem 0;
        }
    }
    .product-price{
        justify-content: center;
    }
    .product-quantity{
        flex-direction: column;

        .product-remove-con{
            padding: 0 !important;
            
            .product-remove-btn{
                height: 1.4rem !important;
                img{
                    margin: 0 !important;
                }
            }
        }
    }
    .quantity-con{
        padding: 0 !important;
    }
    .product-remove-con{
        .product-remove-btn{
            height: 3rem;
        }
    }
}