@import "config";
.product_section{
    display: flex;
    padding: 1rem;

    .img_group{
        width: 80%;
        ul{
            width: 50vw;
            button{
                border: none;
                background: none;
                outline: none;
                li{
                    display: flex;
                    img{
                        display: flex;
                        width: 50%;
                    }
                }
            }
            .full-screen{
                width: 100vw;
                height: 100vh;
                position: fixed;
                top: 0;
                right: 0;
                z-index: 1000;
                background: $color-bg;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #big_img{
                width: 100% !important;
            }
            .short_imgs{
                display: flex;
                width: 100%;
                gap: 0 
                .7rem;
                img{
                    width: 100% !important;
                    margin: .7rem 0;
                }
            }
        }
    }
    .text-area-container{
        margin: 1rem 0;
        max-width: 50%;
        display: flex;
        justify-content: center;
        .text-area{
            width: 60%;
            .product_title{
                font-weight: 520;
                font-size: 2rem;
                word-spacing: .3rem;
                line-height: 3rem;
                margin: 2rem 0 ;
                max-width: 95%;
            }
            .price_con{
                margin: 2rem .5rem;
                .compared_price{
                    text-decoration: line-through;
                }
                .price{
                    margin: 1rem .2rem;
                    font-size: 1.7rem;
                }
            }
            .individual-cta-btn{
                margin: 1rem 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                button,a{
                    border: none;
                    width: 100%;
                    display: grid;
                    place-items: center;
                    text-align: center !important;
                    padding: 0.75em 2.2em;
                    border-radius: 0.25em;
                    margin: .3rem;
                    font-size: 1.1em;
                    font-weight: 700;
                 &:nth-child(2){
                        text-decoration: none;
                        background: $color-light-green;
                        color: white;
                        &:hover{
                            background: $color-dark-green;
                        }
                        &:focus{
                            outline: 0.125em solid $color-dark-green;
                            outline-offset: 0.25em;
                        }
                    }
                    &:first-child{
                        background: none;
                        border: 2px solid $color-dark;
                        &:hover{
                            background-color: $color-dark;
                            color: $color-bg;
                        }
                        &:active{
                            outline: 0.125em solid $color-dark;
                            outline-offset: 0.25em;
                        }
                    }
                }
            }
            .product_description{
                margin: 1rem 0;
                line-height: 1.4rem;
                word-spacing: .01rem;
                letter-spacing: 0.01rem;
                color: $color-light-grey;
            }
            .quantity-con{
                padding: 1rem 0;
                quantity-input{
                    margin: 1rem 0;
                    display: flex;
                    height: 3rem;
                    width: 35%;
                    min-width: 7rem;
                    border: 1.5px solid $color-dark;
                    margin: 0;
                    
                    margin: .5rem 0;
                    button,input{
                        aspect-ratio: 1/1;
                        border: none;
                        background: none;
                        font-size: 1rem;
                        text-align: center;
                    }
                    button{
                        transition: .2s;
                        font-size: 1.3rem;
                        &:active{
                            background: $color-sky-blue;
                        }
                    }
                    input{
                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            
                        }
                        &:focus-visible{
                            outline: none;
                            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:$breakpoint-small-tablet) {
    .product_section{
        flex-wrap: wrap;
        display: flex;
        justify-content: center !important;
        padding: 0 !important;
        .img_group,.text-area-container{
            width: 100%;
        }
        .img_group{
            display: flex;
            justify-content: center;
            ul{
                width: 95%;
            }
            margin: 1rem;
        }
        .text-area-container{
            margin: 0;
            display: flex;
            justify-content: center;
            max-width: 100%;
            .text-area{
                width: 95%;
                .individual-cta-btn{
                    width: 100%;
                    display: flex;
                    button{
                        width: 90%;
                    }
                }
                .des-con{
                    .des-heading{
                        margin: 1rem 0;
                    }
                    .product_description{
                        max-width: 94%;
                    }
                }
            }

        }
    }
}